@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
 
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
   
}
 
.header h1 {
    text-transform: uppercase;
}
 
.image-container {  
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;
}
 
.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}
 
.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}
 
 
.main-container {
    margin: 0 auto;
    width: 75%;
}
 
.main-container div {
    margin-bottom: 2rem;
}
 
.main-container h1 {
    margin-bottom: 5rem;
}
 
.main-container p {
    text-align: justify;
}
 
.footer {
    font-size: 2rem;
    padding: 2rem;
}
 
.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}
 
.footer ul li {
    display: inline-block;
    margin: 2rem;
}
 
.footer ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
 
 
@media (min-width: 480px) {
   
    /*muuda image-container taustapilti*/
   .image-container{
       background-image: url(../img/smartphone.png);
   }
    /*muuda dokumendi taustavärvi*/
    .container {
        background-color: rgb(135, 95, 228);
    /*muuda dokumendi tekstivärvi*/
        color: rgb(142, 224, 19);
    }
   
    /*ära unusta ka raamjoonesid*/
    .navigation ul li {
        border: 1px solid rgb(142, 224, 19);
    }
 
    .container {
        width: 100%;
    }
   
 
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
   
 
    .main-container {
        padding: 0.75rem;
        width: 100%;
    }
 
    .main-container h1 {
        margin: 1rem auto;
    }
   
}
 
 
@media (min-width: 768px) {
 
/*muuda image-container taustapilti*/
   .image-container{
    background-image: url(../img/tablet.png);
}
 /*muuda dokumendi taustavärvi*/
 .container {
     background-color: rgb(226, 181, 83);
 /*muuda dokumendi tekstivärvi*/
     color: rgb(16, 156, 27);
 }
 
 /*ära unusta ka raamjoonesid*/
 .navigation ul li {
     border: 1px solid rgb(16, 156, 27);
 }
 
}
 
 
@media (min-width: 1024px){
       
/*muuda image-container taustapilti*/
   .image-container{
    background-image: url(../img/laptop.png);
}
 /*muuda dokumendi taustavärvi*/
 .container {
     background-color: rgb(230, 127, 79);
 /*muuda dokumendi tekstivärvi*/
     color: rgb(21, 28, 124);
 }
 
 /*ära unusta ka raamjoonesid*/
 .navigation ul li {
     border: 1px solid rgb(21, 28, 124);
 }
}
 
 
@media (min-width: 1200px){
 
    /*muuda image-container taustapilti*/
   .image-container{
    background-image: url(../img/desktop.png);
}
 /*muuda dokumendi taustavärvi*/
 .container {
     background-color: rgb(26, 223, 213);
 /*muuda dokumendi tekstivärvi*/
     color: rgb(11, 10, 90);
 }
 
 /*ära unusta ka raamjoonesid*/
 .navigation ul li {
     border: 1px solid rgb(24, 23, 80);
 }
    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 15rem; /*/muutsin ära, sest laiuses 1200px nuppud ei mahtunud ühele joonele/*/
    }
   
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid black;
        margin-right: 4rem;
    }
 
    .main-container {
        width: 75%;
    }
 
}
